.link-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}

.link-container a {
    padding: 15px 0;
}

h1 {
    text-align: center;
}

h3 {
    font-size: 2em;
    text-decoration: dotted underline;
}
